@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --bg-color: #080808;
    --secong-bg-color: #101010;
    --text-color: #ffffff;
    --main-color: #ea580c;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

#menu-icon {
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}
.logo {
    font-size: 3rem;
    font-weight: 800;
    color: var(--text-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover {
    transform: scale(1.1);
}
span {
    background: linear-gradient(
        270deg, 
        #df8908 10%, 
        #ff1d15 100%
    );
    background-clip: text;
    color: transparent;
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.navbar a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.gradient-btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    border: none;
    background: linear-gradient(
        270deg, 
        #df8908 10%, 
        #ff1d15 100%
    );
    color: var(--text-color);
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    text-wrap: nowrap;
}
.gradient-btn:hover {
    transform: scale(1.05);
}

/* Home */
section {
    min-height: 100vh;
    padding: 10rem 15%;
}
.home {
    display: flex;
}




i {
    color: var(--main-color);
}

/* About */


/* Skills */


/* Projects */


/* Contact */